
.stButton button {
    width: 100%;
    color: cyan;
    border: 2px solid #00ffff;
    
}
.stButton button:hover {
    color: black;
    background-color: cyan;
    border: 2px solid white;
}

h1{
    text-align: center;
    color: cyan;
}

h2{
        color: rgb(255, 255, 255);
        text-align: justify;
        font-size: 25px;
}
        
.main{
        background-color: rgb(0, 0, 0);
}


/*BARRA LATERAL*/
.st-emotion-cache-1itdyc2{
        background-color:rgb(2, 183, 183);
        
}

/*TEXTO DE NAVEGAÇÃO*/
.st-emotion-cache-1q2d4ya{
    color: rgb(0, 0, 0);
    font-size: 12px;
}

.st-emotion-cache-1dj0hjr{
    color: white;
    font-size: 12px;
}

/*PAGINAS*/
.st-emotion-cache-i4rl61:hover{
    background-color: cyan;
    
}

/*HEARDER */
.st-emotion-cache-h4xjwg {
    display: none;
}


/*NAVEGAÇÃO*/
.eczjsme14 {
    background-color: rgb(13, 223, 213);
    border: 2px solid cyan;
}

/*NAVEGAÇÃO HOVER*/
.eczjsme14:hover {
    background-color: cyan;
    border: 2px solid white;
}

